<div class="row">
				<div class="col-md-3">
					<video class="img_responsive" style="border: 0px solid black; margin-top: 0pt; width: 100%; display: block; height: auto;" autoplay muted loop webkit-playsinline playsinline>
							<source src="videos/aim.mp4" type="video/mp4">
					</video>
				</div>
				<div class="col-md-9">
				<b><font color="black">Decision-Making Policies for Heterogeneous Autonomous Multi-Agent Systems with Safety Constraints</font></b><br>
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://cse.umn.edu/aem/yue-yu" target="_blank">Yue Yu</a>,
				<a href="https://www.linkedin.com/in/mahmoud-el-chamie-3a9a6b25/" target="_blank">Mahmoud El Chamie</a>,
				<a href="https://uwacl.com/" target="_blank">Behçet Açikmese</a>,
				<a href="https://www.cs.utexas.edu/~dana/" target="_blank">Dana Ballard</a>
				<br>
				<b><a href="https://ijcai-16.org/" target="_blank">International Joint Conference on Artificial Intelligence (IJCAI) 2016</a></b>
				<br>
				<a href="http://www.ijcai.org/Proceedings/16/Papers/084.pdf">paper</a>
			</div>
			</div><hr>