			<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<video class="img_responsive" style="border: 0px solid black; margin-top: 0pt; width: 100%; display: block; height: auto;" autoplay muted loop webkit-playsinline playsinline>
							<source src="videos/robocup.mp4" type="video/mp4">
						</video>
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">UT Austin Villa: Project-Driven Research in AI and Robotics</font></b><br>
				<a href="https://www.cs.utexas.edu/~katie/index.html" target="_blank">Katie Genter</a>, 
				<a href="https://www.linkedin.com/in/patrick-macalpine-0ba700a/" target="_blank">Patrick MacAlpine</a>, 
				<a href="https://www.linkedin.com/in/jacob-menashe-10898b83/" target="_blank">Jacob Menashe</a>, 
				<a href="https://pages.cs.wisc.edu/~jphanna/" target="_blank">Josiah Hanna</a>, 
				<a href="https://eladlieb.weebly.com/" target="_blank">Elad Liebman</a>, 
				<a href="https://www.cs.utexas.edu/~sanmit/" target="_blank">Sanmit Narvekar</a>, 
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://www.cs.utexas.edu/~pstone/" target="_blank">Peter Stone</a>
				<br>
				<b><a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=9670" target="_blank">IEEE Intelligent Systems 31(2) 2016</a></b>
				<br>
				<font color="firebrick"><b>Journal Paper</b></font> 
				<br>
				<a href="http://ieeexplore.ieee.org/document/7435178/?arnumber=7435178">link</a> |
				<a href="https://spl.robocup.org/open-source/">code</a> |
				<a href="https://www.cs.utexas.edu/~AustinVilla/?p=nao"> UT Austin Villa</a>
			</div>
			</div><hr>