<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/2016-gdmm.png" style="margin-top: 0pt; border:0px solid black" alt="">
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Dual Decomposed Learning with Factorwise Oracle for Structural SVM of Large Output Domain</font></b><br>
				<a href="http://ianyen.site/" target="_blank">Ian E.H. Yen</a>, 
				<a href="http://wueh4.q-huan.link/english/dstd-en/dstd-gxy/dstd-gxy-rgznysjkx/202403/50277.html" target="_blank">Xiangru Huang</a>, 
				<a href="https://www.linkedin.com/in/kai-zhong-29089436/" target="_blank">Kai Zhong</a>, 
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://www.cs.cmu.edu/~pradeepr/" target="_blank">Pradeep Ravikumar</a>, 
				<a href="https://www.linkedin.com/in/inderjit-dhillon-a20888b0/" target="_blank">Inderjit S. Dhillon</a> 
				<br>
				<b><a href="https://neurips.cc/Conferences/2016" target="_blank">Advances in Neural Information Processing Systems (NIPS) 2016</a></b>
				<br>
				<a href="https://proceedings.neurips.cc/paper_files/paper/2016/hash/7e83722522e8aeb7512b7075311316b7-Abstract.html">paper</a>
				</div>
			</div><hr>