<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/2017-art.png" style="margin-top: 0pt; border:0px solid black" alt="">
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Participatory Art Museum: Collecting and Modeling Crowd Opinions</font></b><br>
				<a href="https://www.linkedin.com/in/edith-zeng/" target="_blank">Xiaoyu Zeng</a>,
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>
				<br>
				<b><a href="https://aaai.org/conference/aaai/aaai17/" target="_blank">AAAI Conference on Artificial Intelligence (AAAI) Student Abstract 2017</a></b>
				<br>
				<a href="https://ojs.aaai.org/index.php/AAAI/article/view/11072">paper</a>
				</div>
			</div><hr>