<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/2017-robocup-ball.png" style="margin-top: 0pt; border:0px solid black" alt="">
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Fast and Precise Black and White Ball Detection for RoboCup Soccer</font></b><br>
				<a href="https://www.linkedin.com/in/jacob-menashe-10898b83/" target="_blank">Jacob Menashe</a>,
				<a href="http://joshkelle.com/" target="_blank">Josh Kelle</a>,
				<a href="https://www.cs.utexas.edu/~katie/index.html" target="_blank">Katie Genter</a>,
				<a href="https://pages.cs.wisc.edu/~jphanna/" target="_blank">Josiah Hanna</a>,
				<a href="https://eladlieb.weebly.com/" target="_blank">Elad Liebman</a>,
				<a href="https://www.cs.utexas.edu/~sanmit/" target="_blank">Sanmit Narvekar</a>,
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://www.cs.utexas.edu/~pstone/" target="_blank">Peter Stone</a>
				<br>
				<b><a href="https://2017.robocup.org/eng/symposium.html" target="_blank">RoboCup Symposium 2017</a></b>
				<br>
				<a href="https://2017.robocup.org/file/symposium/RoboCup_Symposium_2017_paper_20.pdf">paper</a> |
				<a href="https://spl.robocup.org/open-source/">code</a> |
				<a href="https://www.cs.utexas.edu/~AustinVilla/?p=nao"> UT Austin Villa</a>
				</div>
			</div><hr>