<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/2017-gdmm.png" style="margin-top: 0pt; border:0px solid black" alt="">
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Greedy Direction Method of Multiplier for MAP Inference of Large Output Domain</font></b><br>
				<a href="http://wueh4.q-huan.link/english/dstd-en/dstd-gxy/dstd-gxy-rgznysjkx/202403/50277.html" target="_blank">Xiangru Huang</a>, 
				<a href="http://ianyen.site/" target="_blank">Ian E.H. Yen</a>, 
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://www.cs.utexas.edu/~huangqx/" target="_blank">Qixing Huang</a>, 
				<a href="https://www.cs.cmu.edu/~pradeepr/" target="_blank">Pradeep Ravikumar</a>, 
				<a href="https://www.linkedin.com/in/inderjit-dhillon-a20888b0/" target="_blank">Inderjit S. Dhillon</a> 
				<br>
				<b><a href="https://aistats.org/aistats2017/" target="_blank">Artificial Intelligence and Statistics (AISTATS) 2017</a></b>
				<br>
				<a href="http://proceedings.mlr.press/v54/huang17a">paper</a> |
				<a href="https://github.com/xiangruhuang/FastStructPred">code</a>
				</div>
			</div><hr>