			<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<video class="img_responsive" style="border: 0px solid black; margin-top: 0pt; width: 100%; display: block; height: auto;" autoplay muted loop webkit-playsinline playsinline>
							<source src="videos/mirl.mov" type="video/mp4">
						</video>
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Modeling Sensory-Motor Decisions in Natural Behavior</font></b><br>
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://shunzh.github.io/" target="_blank">Shun Zhang</a>, 
				<a href="https://www.linkedin.com/in/matthew-tong/" target="_blank">Matthew Tong</a>, 
				<a href="https://yuchencui.cc/" target="_blank">Yuchen Cui</a>, 
				<a href="https://www.pip.tu-darmstadt.de/ag_pip/index.en.jsp" target="_blank">Constatin Rothkopf</a>, 
				<a href="https://www.cs.utexas.edu/~dana/" target="_blank">Dana Ballard</a>, 
				<a href="https://liberalarts.utexas.edu/cps/faculty/mmh739" target="_blank">Mary Hayhoe</a>
				<br>
				<b><a href="https://journals.plos.org/ploscompbiol/" target="_blank">PLoS Computational Biology 2018</a></b>
				<br>
				<font color="firebrick"><b>Journal Paper</b></font> 
				<br>
				<a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1006518&rev=2">link</a> |
				<a href="https://journals.plos.org/ploscompbiol/article/file?rev=2&id=10.1371/journal.pcbi.1006518&type=printable">paper</a> | 
				<a href="https://jov.arvojournals.org/article.aspx?articleid=2652133">VSS 2017 abstract</a> |
				<a href="https://ai.stanford.edu/~zharu/publications/2017_VSS_MIRL.pdf">VSS 2017 talk</a> |
				<a href="  http://ai.stanford.edu/~zharu/publications/2016_NETI_mirl.pdf">NETI 2016 poster</a>
			</div>
			</div><hr>