			<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<video class="img_responsive" style="border: 0px solid black; margin-top: 0pt; width: 100%; display: block; height: auto;" autoplay muted loop webkit-playsinline playsinline>
							<source src="videos/agil.mp4" type="video/mp4">
						</video>
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">AGIL: Learning Attention from Human for Visuomotor Tasks</font></b><br>
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://www.linkedin.com/in/zhuodeliu/" target="_blank">Zhuode Liu</a>, 
				<a href="https://lucinezhang.github.io/" target="_blank">Luxin Zhang</a>, 
				<a href="https://www.linkedin.com/in/jake-whritner-phd-366142189/" target="_blank">Jake Whritner</a>, 
				<a href="https://www.linkedin.com/in/karl-muller-025b5757/" target="_blank">Karl Muller</a>, 
				<a href="https://liberalarts.utexas.edu/cps/faculty/mmh739" target="_blank">Mary Hayhoe</a>, 
				<a href="https://www.cs.utexas.edu/~dana/" target="_blank">Dana Ballard</a>
				<br>
				<b><a href="https://eccv2018.org/" target="_blank">European Conference on Computer Vision (ECCV) 2018</a></b>
				<br>
				<a href="https://arxiv.org/abs/1806.03960">paper</a> |
				<a href="https://zenodo.org/record/3451402#.XYPhzOtKhhE">data</a> |
				<a href="https://github.com/asaran/IL-CGL/tree/master/BC-CGL">code</a>
				<br>
				<a href="https://www.aaai.org/ojs/index.php/AAAI/article/view/5090/4963">AAAI 2019 Doctoral Consortium</a> |
				<a href="https://ojs.aaai.org/index.php/AAAI/article/view/12147">AAAI 2018 Student Abstract</a> |
				<a href="http://ai.stanford.edu/~zharu/publications/2017_NIPS_AGIL.pdf">NIPS 2017 CIAI workshop </a>
				<br>
				<a href="https://jov.arvojournals.org/article.aspx?articleid=2699524">VSS 2018 abstract</a> |
				<a href="https://ai.stanford.edu/~zharu/publications/VSS_2018_Modeling_Complex_Perception-Action_Choices.pdf">VSS 2018 talk</a> |
				<a href="https://ccn.societyconference.com/documents/1031/5928d74a68ed3f3c458a258b.pdf">CCN 2017 version</a>
			</div>
			</div><hr>