<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/2019-guidance.png" style="margin-top: 0pt; border:0px solid black" alt="">
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Leveraging Human Guidance for Deep Reinforcement Learning Tasks</font></b><br>
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://www.cs.utexas.edu/~faraztrb/" target="_blank">Faraz Torabi</a>, 
				<a href="https://guansuns.github.io/" target="_blank">Lin Guan</a>, 
				<a href="https://www.cs.utexas.edu/~dana/" target="_blank">Dana Ballard</a>, 
				<a href="https://www.cs.utexas.edu/~pstone/" target="_blank">Peter Stone</a>
				<br>
				<b><a href="https://www.ijcai19.org/" target="_blank">International Joint Conference on Artificial Intelligence (IJCAI) Survey Track 2019</a></b>
				<br>
				<a href="https://arxiv.org/abs/1909.09906">paper</a>
			</div>
			</div><hr>