<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/2020-ahead.png" style="margin-top: 0pt; border:0px solid black" alt="">
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Atari-HEAD: Atari Human Eye-Tracking and Demonstration Dataset</font></b><br>
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://www.linkedin.com/in/calen-walshe-ab708364/" target="_blank">Calen Walshe</a>, 
				<a href="https://www.linkedin.com/in/zhuodeliu/" target="_blank">Zhuode Liu</a>, 
				<a href="https://guansuns.github.io/" target="_blank">Lin Guan</a>, 
				<a href="https://www.linkedin.com/in/karl-muller-025b5757/" target="_blank">Karl Muller</a>, 
				<a href="https://www.linkedin.com/in/jake-whritner-phd-366142189/" target="_blank">Jake Whritner</a>, 
				<a href="https://lucinezhang.github.io/" target="_blank">Luxin Zhang</a>, 
				<a href="https://liberalarts.utexas.edu/cps/faculty/mmh739" target="_blank">Mary Hayhoe</a>, 
				<a href="https://www.cs.utexas.edu/~dana/" target="_blank">Dana Ballard</a>
				<br>
				<b><a href="https://ijcai20.org/" target="_blank">AAAI Conference on Artificial Intelligence (AAAI) 2020</a></b>
				<br>
				<font color="firebrick"><b>Oral Presentation</b></font> at
				<b><a href="https://ijcai20.org/" target="_blank">AAAI Reinforcement Learning in Games Workshop 2020</a></b>
				<br>
				<a href="https://arxiv.org/abs/1903.06754">paper</a> | 
				<a href="https://zenodo.org/record/3451402#.XYPhzOtKhhE">data</a> |
				<a href="https://github.com/asaran/IL-CGL/tree/master/BC-CGL">code</a> |
				<a href="http://ai.stanford.edu/~zharu/publications/2020_AAAI_Dataset_poster.pdf">poster</a> |
				<a href="http://ai.stanford.edu/~zharu/publications/AAAI2020-RLG.pdf">talk</a>
				</div>
			</div><hr>