<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/2020-gaze-survey.png" style="margin-top: 0pt; border:0px solid black" alt="">
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Human Gaze Assisted Artificial Intelligence: A Review</font></b><br>
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://aihub.org/author/akankshasaran/" target="_blank">Akanksha Saran</a>, 
				<a href="https://cranial-xix.github.io/" target="_blank">Bo Liu</a>, 
				<a href="https://zhuyifengzju.github.io/" target="_blank">Yifeng Zhu</a>, 
				<a href="https://www.linkedin.com/in/suna-guo-680a96159/" target="_blank">Sihang Guo</a>, 
				<a href="https://people.cs.umass.edu/~sniekum/" target="_blank">Scott Niekum</a>, 
				<a href="https://www.cs.utexas.edu/~dana/" target="_blank">Dana Ballard</a>, 
				<a href="https://liberalarts.utexas.edu/cps/faculty/mmh739" target="_blank">Mary Hayhoe</a>
				<br>
				<b><a href="https://ijcai20.org/" target="_blank">International Joint Conference on Artificial Intelligence (IJCAI) Survey Track 2020</a></b>
				<br>
				<a href="https://www.ijcai.org/Proceedings/2020/0689.pdf">paper</a>
				</div>
			</div><hr>