	<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/ut-logo2.png" style="margin-top: 0pt; border:0px solid black" alt="">
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">A Modular Attention Hypothesis for Modeling Visuomotor Behaviors</font></b><br>
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>
				<br>
				Committee: <a href="https://www.cs.utexas.edu/~dana/" target="_blank">Dana Ballard</a>, 
				<a href="https://liberalarts.utexas.edu/cps/faculty/mmh739" target="_blank">Mary Hayhoe</a>, 
				<a href="https://www.cs.utexas.edu/~pstone/" target="_blank">Peter Stone</a>, 
				<a href="https://www.cs.utexas.edu/~huth/" target="_blank">Alexander Huth</a>, 
				<a href="https://www.mpg.de/12309370/biological-cybernetics-dayan" target="_blank">Peter Dayan</a>
				<br>
				<b><a href="https://www.utexas.edu/" target="_blank">The University of Texas at Austin Ph.D. Dissertation 2021</a></b>
				<br>
				<a href="https://repositories.lib.utexas.edu/bitstream/handle/2152/86946/ZHANG-DISSERTATION-2021.pdf?sequence=1">paper</a> | 
				<a href="https://ai.stanford.edu/~zharu/publications/disser_slides.pdf">slides</a>
				</div>
			</div><hr>