<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<video class="img_responsive" style="border: 0px solid black; margin-top: 0pt; width: 100%; display: block; height: auto;" autoplay muted loop webkit-playsinline playsinline>
							<source src="videos/mvha.mp4" type="video/mp4">
						</video>
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Machine versus Human Attention in Deep Reinforcement Learning Tasks</font></b><br>
				<a href="https://www.linkedin.com/in/suna-guo-680a96159/" target="_blank">Sihang Guo</a>, 
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://cranial-xix.github.io/" target="_blank">Bo Liu</a>, 
				<a href="https://zhuyifengzju.github.io/" target="_blank">Yifeng Zhu</a>, 
				<a href="https://liberalarts.utexas.edu/cps/faculty/mmh739" target="_blank">Mary Hayhoe</a>,
				<a href="https://www.cs.utexas.edu/~dana/" target="_blank">Dana Ballard</a>,
				<a href="https://www.cs.utexas.edu/~pstone/" target="_blank">Peter Stone</a>
				<br>
				<b><a href="https://neurips.cc/Conferences/2021" target="_blank">Advances in Neural Information Processing Systems (NeurIPS) 2021</a></b>
				<br>
      			<a href="https://arxiv.org/abs/2010.15942">paper</a> |
				<a href="https://zenodo.org/records/3451402">data</a> |  
      			<a href="https://jov.arvojournals.org/article.aspx?articleid=2776905">VSS 2021 abstract</a> 
				</div>
			</div><hr>