		<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/2021-guidance.png" style="margin-top: 0pt; border:0px solid black" alt="">
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Recent Advances in Leveraging Human Guidance for Sequential Decision-Making tasks</font></b><br>
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>*, 				
				<a href="https://www.cs.utexas.edu/~faraztrb/" target="_blank">Faraz Torabi</a>*, 
				<a href="https://www.cs.utexas.edu/people/faculty-researchers/garrett-warnell" target="_blank">Garrett Warnell</a>, 
				<a href="https://www.cs.utexas.edu/~pstone/" target="_blank">Peter Stone</a>
				<br>
				<b><a href="https://link.springer.com/journal/10458" target="_blank">Autonomous Agents and Multi-Agent Systems (JAAMAS) 2021</a></b>
				<br>
				<font color="firebrick"><b>Journal Paper (Survey)</b></font> 
				<br>
				<a href="https://link.springer.com/article/10.1007/s10458-021-09514-w">link</a> | 
				<a href="https://arxiv.org/abs/2107.05825">paper</a>
				</div>
			</div><hr>