<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<video class="img_responsive" style="border: 0px solid black; margin-top: 40pt; width: 100%; display: block; height: auto;" autoplay muted loop webkit-playsinline playsinline>
							<source src="videos/behavior.mp4" type="video/mp4">
						</video>
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">BEHAVIOR-1K: A Human-Centered, Embodied AI Benchmark with 1,000 Everyday Activities and Realistic Simulation</font></b><br>
				<a href="https://www.chengshuli.me/" target="_blank">Chengshu Li</a>*, 
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>*, 
				<a href="https://jdw.ong/" target="_blank">Josiah Wong</a>*, 
				<a href="https://www.cemgokmen.com/" target="_blank">Cem Gokmen</a>*, 
				<a href="https://www.linkedin.com/in/sanjana-srivastava5/" target="_blank">Sanjana Srivastava</a>*, 
				<a href="https://robertomartinmartin.com/">Roberto Martín-Martín</a>*, 
				<a href="https://www.chenwangjeremy.net/" target="_blank">Chen Wang</a>*, 
				<a href="https://www.gabrael.io/" target="_blank">Gabrael Levine</a>*, 
				<a href="https://wensi-ai.github.io/" target="_blank">Wensi Ai</a>*, 
				<a href="https://web.stanford.edu/~benjm/" target="_blank">Benjamin Jose Martinez</a>,
				<a href="https://www.linkedin.com/in/hangyin0226/" target="_blank">Hang Yin</a>,
				<a href="https://mlingelbach.com/" target="_blank">Michael Lingelbach</a>,
				<a href="https://mj-hwang.github.io/" target="_blank">Minjune Hwang</a>,
				<a href="https://misoshiruseijin.github.io/" target="_blank">Ayano Hiranaka</a>, 
				<a href="https://sujaygarlanka.com/" target="_blank">Sujay Garlanka</a>, 
				<a href="https://www.linkedin.com/in/arman-aydin/" target="_blank">Arman Aydin</a>, 
				<a href="https://knight-hennessy.stanford.edu/people/sharon-lee" target="_blank">Sharon Lee</a>, 
				<a href="https://web.stanford.edu/~jksun/" target="_blank">Jiankai Sun</a>,
				<a href="https://www.linkedin.com/in/mona-anvari/" target="_blank">Mona Anvari</a>,
				<a href="https://manasi-sharma.github.io/" target="_blank">Manasi Sharma</a>,
				<a href="https://www.linkedin.com/in/dhruvabansal2k/" target="_blank">Dhruva Bansal</a>,
				<a href="" target="_blank">Samuel Hunter</a>,
				<a href="https://kykim0.github.io/">Kyu-Young Kim</a>, 
				<a href="https://www.linkedin.com/in/alanlou/">Alan Lou</a>, 
				<a href="https://www.linkedin.com/in/caleb-matthews/">Caleb R Matthews</a>, 
				<a href="https://ivillar.github.io/">Ivan Villa-Renteria</a>, 
				<a href="https://www.linkedin.com/in/jerry-tang-b37026162/">Jerry Huayang Tang</a>, 
				<a href="">Claire Tang</a>, 
				<a href="https://fxia22.github.io/">Fei Xia</a>, 
				<a href="https://yunzhuli.github.io/">Yunzhu Li</a>, 
				<a href="https://www.linkedin.com/in/silvio-savarese-97b76114/">Silvio Savarese</a>, 
				<a href="https://web.stanford.edu/~hyo/Home.html">Hyowon Gweon</a>, 
				<a href="https://tml.stanford.edu/people/karen-liu" target="_blank">C. Karen Liu</a>,
				<a href="https://jiajunwu.com/" target="_blank">Jiajun Wu</a>, 
				<a href="https://profiles.stanford.edu/fei-fei-li/" target="_blank">Li Fei-Fei</a>     
				<br>
				<b><a href="https://corl2022.org/" target="_blank">Conference on Robot Learning (CoRL) 2022</a></b>
				<br>
				<font color="firebrick"><b>Best Paper Nomination</b></font> 
				<br>
				<font color="firebrick"><b>Oral Presentation</b></font> 
				<br>
				<a href="https://twitter.com/RuohanZhang76/status/1771019123298066812">tl;dr</a> |
				<a href="https://arxiv.org/abs/2403.09227">paper</a> |
				<a href="https://behavior.stanford.edu/">website</a> |
				<a href="https://github.com/StanfordVL/OmniGibson">code</a> |
				<a href="https://behavior.stanford.edu/omnigibson/getting_started/installation.html">guide</a> |
				<a href="https://discord.com/invite/bccR5vGFEx">support</a> 
				</div>
			</div><hr>