		<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/2022-imma.png" style="margin-top: 0pt; border:0px solid black" alt="">
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Interaction Modeling with Multiplex Attention</font></b><br>
				<a href="https://sunfanyun.com/">Fan-Yun Sun</a>, 
				<a href="https://ikauvar.github.io/">Isaac Kauvar</a>,
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://jiachenli94.github.io/">Jiachen Li</a>, 
				<a href="https://mykel.kochenderfer.com/">Mykel J. Kochenderfer</a>, 
				<a href="https://jiajunwu.com/" target="_blank">Jiajun Wu</a>, 
				<a href="https://www.autonomousagents.stanford.edu/">Nick Haber</a>
				<br>
				<b><a href="https://neurips.cc/Conferences/2022" target="_blank">Advances in Neural Information Processing Systems (NeurIPS) 2022</a></b>
				<br>
				<a href="https://twitter.com/RuohanZhang76/status/1579529563616342016">tl;dr</a> |
				<a href="https://arxiv.org/abs/2208.10660">paper</a> |
				<a href="https://sites.google.com/view/dr-hrl">website</a> |
				<a href="https://github.com/fanyun-sun/IMMA">code</a>
				</div>
			</div><hr>