<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/2022-attention.png" style="margin-top: 0pt; border:0px solid black" alt="">
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Selective Visual Attention during Public Speaking in an Immersive Context</font></b><br>
				<a href="https://www.paloaltou.edu/faculty/mikael-rubin-phd" target="_blank">Mikael Rubin</a>, 
				<a href="https://www.linkedin.com/in/suna-guo-680a96159/" target="_blank">Sihang Guo</a>, 
				<a href="https://www.linkedin.com/in/karl-muller-025b5757/" target="_blank">Karl Muller</a>, 
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://labs.la.utexas.edu/telch/" target="_blank">Michael Telch</a>,
				<a href="https://liberalarts.utexas.edu/cps/faculty/mmh739" target="_blank">Mary Hayhoe</a>
				<br>
				<b><a href="https://link.springer.com/journal/13414" target="_blank">Attention, Perception, & Psychophysics 2022</a></b>
				<br>
				<font color="firebrick"><b>Journal Paper</b></font> 
				<br>
				<a href="https://link.springer.com/article/10.3758/s13414-021-02430-x">link</a> | 
        		<a href="https://link.springer.com/content/pdf/10.3758/s13414-021-02430-x.pdf">paper</a> |
				<a href="https://osf.io/zg9xh/">data</a> |
       			<a href="https://jov.arvojournals.org/article.aspx?articleid=2777608">VSS 2021 abstract</a>
				</div>
			</div><hr>