<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<video class="img_responsive" style="border: 0px solid black; margin-top: 0pt; width: 100%; display: block; height: auto;" autoplay muted loop webkit-playsinline playsinline>
							<source src="videos/seed.mp4" type="video/mp4">
						</video>
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Primitive Skill-based Robot Learning from Human Evaluative Feedback</font></b><br>
				<a href="https://misoshiruseijin.github.io/" target="_blank">Ayano Hiranaka</a>*, 
				<a href="https://mj-hwang.github.io/" target="_blank">Minjune Hwang</a>*, 
				<a href="https://knight-hennessy.stanford.edu/people/sharon-lee" target="_blank">Sharon Lee</a>, 
				<a href="https://www.chenwangjeremy.net/" target="_blank">Chen Wang</a>, 
				<a href="https://profiles.stanford.edu/fei-fei-li/" target="_blank">Li Fei-Fei</a>, 
				<a href="https://jiajunwu.com/" target="_blank">Jiajun Wu</a>, 
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>
				<br>
				<b><a href="https://ieee-iros.org/" target="_blank">International Conference on Intelligent Robots and Systems (IROS) 2023</a></b>
				<br>
				<a href="https://arxiv.org/abs/2307.15801">paper</a> |
      			<a href="https://seediros23.github.io/">website</a> |
      			<a href="https://github.com/mj-hwang/seed">code</a>
				</div>
			</div><hr>