<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/2023-minibh.png" style="border:0px solid black" alt="">
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Mini-BEHAVIOR: A Procedurally Generated Benchmark for Long-horizon Decision-Making in Embodied AI</font></b><br>
				<a href="https://www.linkedin.com/in/emily-jin-020/" target="_blank">Emily Jin</a>,  				
				<a href="https://jiahenghu.github.io/" target="_blank">Jiaheng Hu</a>, 
				<a href="https://www.linkedin.com/in/zhuoyi-huang/" target="_blank">Zhuoyi Huang</a>, 
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://jiajunwu.com/" target="_blank">Jiajun Wu</a>, 
				<a href="https://profiles.stanford.edu/fei-fei-li/" target="_blank">Li Fei-Fei</a>, 
				<a href="https://robertomartinmartin.com/">Roberto Martín-Martín</a>
				<br>
				<b><a href="https://sites.google.com/view/aloe2023/home" target="_blank">Agent Learning in Open-Endedness (ALOE) Workshop at NeurIPS 2023</a></b>
				<br>
				<b><a href="https://aair-lab.github.io/genplan23/" target="_blank">Generalization in Planning (GenPlan) Workshop at NeurIPS 2023</a></b>
				<br>
				<a href="https://twitter.com/emilyzjin/status/1735788569921282537">tl;dr</a> |
				<a href="https://arxiv.org/abs/2310.01824">paper</a> |
				<a href="https://github.com/StanfordVL/mini_behavior/">code</a>
				</div>
			</div><hr>