<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/2023-sgm.png" style="margin-top: 10pt; border:0px solid black" alt="">
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Modeling Dynamic Environments with Scene Graph Memory</font></b><br>
				<a href="https://www.andreykurenkov.com/">Andrey Kurenkov</a>, 
				<a href="https://mlingelbach.com/" target="_blank">Michael Lingelbach</a>,
				<a href="https://tanmay-agarwal.com/" target="_blank">Tanmay Agarwal</a>, 
				<a href="https://www.chengshuli.me/" target="_blank">Chengshu Li</a>, 
				<a href="https://www.linkedin.com/in/emily-jin-020/" target="_blank">Emily Jin</a>, 
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://profiles.stanford.edu/fei-fei-li/" target="_blank">Li Fei-Fei</a>, 
				<a href="https://jiajunwu.com/" target="_blank">Jiajun Wu</a>, 
				<a href="https://www.linkedin.com/in/silvio-savarese-97b76114/">Silvio Savarese</a>, 
				<a href="https://robertomartinmartin.com/">Roberto Martín-Martín</a>
				<br>
				<b><a href="https://icml.cc/Conferences/2023" target="_blank">International Conference on Machine Learning (ICML) 2023</a></b>
				<br>
				<a href="https://twitter.com/andrey_kurenkov/status/1664742905062338560">tl;dr</a> |
				<a href="https://arxiv.org/abs/2305.17537">paper</a> |
				<a href="https://github.com/andreykurenkov/modeling_env_dynamics">code</a>
				</div>
			</div><hr>