<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<video class="img_responsive" style="border: 0px solid black; width: 100%; display: block; height: auto;" autoplay muted loop webkit-playsinline playsinline>
							<source src="videos/telemoma.m4v" type="video/mp4">
						</video>
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">TeleMoMa: A Modular and Versatile Teleoperation System for Mobile Manipulation</font></b><br>
				<a href="https://shivindass.github.io/" target="_blank">Shivin Dass</a>, 
				<a href="https://wensi-ai.github.io/" target="_blank">Wensi Ai</a>, 
				<a href="https://yuqianjiang.us/" target="_blank">Yuqian Jiang</a>, 
				<a href="https://www.linkedin.com/in/imsamik/" target="_blank">Samik Singh</a>, 
				<a href="https://jiahenghu.github.io/" target="_blank">Jiaheng Hu</a>, 
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://www.cs.utexas.edu/~pstone/" target="_blank">Peter Stone</a>, 
				<a href="https://babbatem.github.io/" target="_blank">Ben Abbatematteo</a>, 
				<a href="https://robertomartinmartin.com/">Roberto Martín-Martín</a>
				<br>
				<b><a href="" target="_blank">arxiv 2024</a></b>
				<br>
				<a href="https://twitter.com/RuohanZhang76/status/1769535561998462982">tl;dr</a> |
				<a href="https://arxiv.org/abs/2403.07869">paper</a> |
				<a href="https://robin-lab.cs.utexas.edu/telemoma-web/">website</a> |
				<a href="https://github.com/UT-Austin-RobIn/telemoma">code</a> 
				</div>
			</div><hr>	