<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/2024-marple.jpg" style="border:0px solid black" alt="">
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Whodunnit? Inferring What Happened from Multimodal Evidence</font></b><br>
				<a href="https://sarahawu.github.io/">Sarah A. Wu</a>*,
                <a href="https://www.erikbrockbank.com/">Erik Brockbank</a>*,
                <a href="https://www.hannahcha.com/about">Hannah Cha</a>,
                <a href="https://janphilippfranken.github.io/">Jan-Philipp Fränken</a>,
				<a href="https://www.linkedin.com/in/emily-jin-020/" target="_blank">Emily Jin</a>, 
				<a href="https://www.linkedin.com/in/zhuoyi-huang/" target="_blank">Zhuoyi Huang</a>, 
                <a href="http://weiyuliu.com/">Weiyu Liu</a>,
                <a href="https://ai.stanford.edu/~zharu/"><u>Ruohan Zhang</u></a>,
				<a href="https://jiajunwu.com/" target="_blank">Jiajun Wu</a>,
                <a href="https://cicl.stanford.edu/member/tobias_gerstenberg/">Tobias Gerstenberg</a>
				<br>
				<b><a href="https://cognitivesciencesociety.org/cogsci-2024/" target="_blank">Proceedings of the Annual Meeting of the Cognitive Science Society (CogSci) 2024</a></b>
				<br>
				<a href="https://twitter.com/tobigerstenberg/status/1816363909588115515">tl;dr</a> |
				<a href="https://escholarship.org/uc/item/1nq5p6m8">paper</a> |
				<a href="https://github.com/cicl-stanford/whodunnit_multimodal_inference">code</a>
				</div>
			</div><hr>