		<div class="row">
				<div class="col-md-3">
					<video class="img_responsive" style="border: 0px solid black; width: 100%; display: block; height: auto;" autoplay muted loop webkit-playsinline playsinline>
							<source src="videos/rekep.mp4" type="video/mp4">
						</video>
					</div>
				<div class="col-md-9">
				<b><font color="black">ReKep: Spatio-Temporal Reasoning of Relational Keypoint Constraints for Robotic Manipulation</font></b><br>
				<a href="https://wenlong.page/" target="_blank">Wenlong Huang</a>,
				<a href="https://www.chenwangjeremy.net/" target="_blank">Chen Wang</a>*,
				<a href="https://yunzhuli.github.io/">Yunzhu Li</a>*,
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>,
				<a href="https://profiles.stanford.edu/fei-fei-li/" target="_blank">Li Fei-Fei</a>
				<br>
				<b><a href="https://www.corl.org/" target="_blank">Conference on Robot Learning (CoRL) 2024</a></b>
				<br>
				<font color="firebrick"><b>Best Paper Award</b></font> at
				<b><a href="https://leap-workshop.github.io/" target="_blank">Learning Effective Abstractions for Planning (LEAP) Workshop at CoRL 2024</a></b>
				<br>
				<a href="https://twitter.com/RuohanZhang76/status/1830534553267782005">tl;dr</a> |
				<a href="https://arxiv.org/abs/2409.01652">paper</a> |
				<a href="https://rekep-robot.github.io/">website</a> |
				<a href="https://github.com/huangwl18/ReKep">code</a> 
				</div>
			</div><hr>