<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/2023-finv.png" style="margin-top: 10pt; border:0px solid black" alt="">
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Partial-View Object View Synthesis via Filtering Inversion</font></b><br>
				<a href="https://sunfanyun.com/" target="_blank">Fan-Yun Sun</a>,
				<a href="https://research.nvidia.com/person/jonathan-tremblay" target="_blank">Jonathan Tremblay</a>,
				<a href="https://www.cs.cornell.edu/~valts/" target="_blank">Valts Blukis</a>,
				<a href="https://kevin-thankyou-lin.github.io/" target="_blank">Kevin Lin</a>,
				<a href="https://faculty.cc.gatech.edu/~danfei/" target="_blank">Danfei Xu</a>,
				<a href="https://www.borisivanovic.com/" target="_blank">Boris Ivanovic</a>,
				<a href="https://karkus.tilda.ws/" target="_blank">Peter Karkus</a>,
				<a href="https://cecas.clemson.edu/~stb/" target="_blank">Stan Birchfield</a>,
				<a href="https://homes.cs.washington.edu/~fox/" target="_blank">Dieter Fox</a>,
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>,
				<a href="https://yunzhuli.github.io/">Yunzhu Li</a>,
				<a href="https://jiajunwu.com/" target="_blank">Jiajun Wu</a>,
				<a href="https://research.nvidia.com/person/marco-pavone" target="_blank">Marco Pavone</a>,
				<a href="https://ed.stanford.edu/faculty/nhaber" target="_blank">Nick Haber</a>
				<br>
				<b><a href="https://3dvconf.github.io/2024/" target="_blank">International Conference on 3D Vision (3DV) 2024</a></b>
				<br>
				<font color="firebrick"><b>Spotlight</b></font> 
				<br>
				<a href="https://arxiv.org/abs/2304.00673">paper</a> |
       			<a href="https://cs.stanford.edu/~sunfanyun/finv/">website</a> |
        		<a href="https://github.com/sunfanyunn/FINV">code</a>
				</div>
			</div><hr>