<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<video class="img_responsive" style="border: 0px solid black; width: 100%; display: block; height: auto;" autoplay muted loop webkit-playsinline playsinline>
							<source src="videos/openx.mp4" type="video/mp4">
						</video>
					</div>
				</div>
				<div class="col-md-9">
				<b><font color="black">Open X-Embodiment: Robotic Learning Datasets and RT-X Models</font></b><br>
				Open X-Embodiment Collaboration
				<br>
				<b><a href="https://2024.ieee-icra.org/" target="_blank">International Conference on Robotics & Automation (ICRA) 2024</a></b>
				<br>
				<font color="firebrick"><b>Best Paper Award</b></font> 
				<br>
				<a href="https://twitter.com/QuanVng/status/1709209020341669988">tl;dr</a> |
        		<a href="https://arxiv.org/abs/2310.08864">paper</a> |
       			<a href="https://robotics-transformer-x.github.io/">website</a> |
       			<a href="https://github.com/google-deepmind/open_x_embodiment">code</a> 
				</div>
			</div><hr>