<div class="row">
				<div class="col-md-3">
					<img class="img-fluid img-rounded" src="images/2024-blade.png" style="border:0px solid black" alt="">
				</div>
				<div class="col-md-9">
				<b><font color="black">Learning Compositional Behaviors from Demonstration and Language</font></b><br>
				<a href="http://weiyuliu.com/" target="_blank">Weiyu Liu*</a>, 
				<a href="https://neilnie.com/" target="_blank">Neil Nie*</a>, 
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>, 
				<a href="https://jiayuanm.com/" target="_blank">Jiayuan Mao†</a>, 
				<a href="https://jiajunwu.com/" target="_blank">Jiajun Wu†</a>
				<br>
				<b><a href="https://www.corl.org/" target="_blank">Conference on Robot Learning (CoRL) 2024</a></b>
				<br>
				<font color="firebrick"><b>Oral Presentation</b></font> at 
				<b><a href="https://leap-workshop.github.io/" target="_blank">Workshop on Learning Effective Abstractions for Planning (LEAP) at CoRL 2024</a></b>
				<br>
				<a href="https://x.com/Weiyu_Liu_/status/1854508231093092360">tl;dr</a> |
				<a href="https://blade-bot.github.io/blade.pdf">paper</a> |
				<a href="https://blade-bot.github.io/">website</a> |
				<a href="">code</a> 
				</div>
			</div><hr>