<div class="row">
		<div class="col-md-3">
			<div class="video-container" style="overflow: hidden;">
				<img class="img-fluid img-rounded" src="images/2025-enact.png" style="margin-top: 0pt; border:0px solid black" alt="">
			</div>
		</div>
		<div class="col-md-9">
		<b><font color="black">ENACT: Evaluating Embodied Cognition with World Modeling of Egocentric Interaction</font></b><br>
		<a href="https://qinengwang-aiden.github.io/" target="_blank">Qineng Wang</a>*, 
		<a href="https://wenlong.page/" target="_blank">Wenlong Huang</a>*,
		<a href="https://yu-bryan-zhou.github.io/" target="_blank">Yu Zhou</a>,
		<a href="https://www.linkedin.com/in/hangyin0226/" target="_blank">Hang Yin</a>,
		<a href="https://www.linkedin.com/in/tianwei-bao-625b67232/" target="_blank">Tianwei Bao</a>,
		<a href="https://www.linkedin.com/in/jianwen-lyu-ba9a11329/" target="_blank">Jianwen Lyu</a>,
		<a href="http://weiyuliu.com/" target="_blank">Weiyu Liu</a>, 
		<a href="https://ruohanzhang.com/" target="_blank"><u>Ruohan Zhang</u></a>†, 
		<a href="https://jiajunwu.com/" target="_blank">Jiajun Wu</a>†, 
		<a href="https://profiles.stanford.edu/fei-fei-li/" target="_blank">Li Fei-Fei</a>†,     
		<a href="https://limanling.github.io/" target="_blank">Manling Li</a>†     
		<br>
		<b><a href="" target="_blank">arxiv 2025</a></b>
		<br>
		<a href="https://x.com/RuohanZhang76/status/1993109373586149703">tl;dr</a> |
		<a href="https://arxiv.org/abs/2511.20937">paper</a> |
		<a href="https://enact-embodied-cognition.github.io/">website</a> |
		<a href="https://huggingface.co/datasets/MLL-Lab/ENACT">data</a>
		</div>
</div><hr>