<div class="row">
				<div class="col-md-3">
					<video class="img_responsive" style="border: 0px solid black; width: 100%; display: block; height: auto;" autoplay muted loop webkit-playsinline playsinline>
							<source src="videos/brs.mp4" type="video/mp4">
						</video>
					</div>
				<div class="col-md-9">
				<b><font color="black">BEHAVIOR Robot Suite: Streamlining Real-World Whole-Body Manipulation for Everyday Household Activities</font></b><br>
				<a href="https://yunfanj.com/" target="_blank">Yunfan Jiang</a>,
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>,
				<a href="https://jdw.ong/" target="_blank">Josiah Wong</a>,  
				<a href="https://www.chenwangjeremy.net/" target="_blank">Chen Wang</a>,
				<a href="https://yanjieze.com/" target="_blank">Yanjie Ze</a>,
				<a href="https://www.linkedin.com/in/hangyin0226/" target="_blank">Hang Yin</a>,
				<a href="https://www.cemgokmen.com/" target="_blank">Cem Gokmen</a>, 
				<a href="https://shurans.github.io/" target="_blank">Shuran Song</a>,
				<a href="https://jiajunwu.com/" target="_blank">Jiajun Wu</a>,
				<a href="https://profiles.stanford.edu/fei-fei-li/" target="_blank">Li Fei-Fei</a>
				<br>
				<b><a href="https://www.corl.org/" target="_blank">Conference on Robot Learning (CoRL) 2025</a></b>
				<br>
				<a href="https://x.com/RuohanZhang76/status/1900328330831991050">tl;dr</a> |
				<a href="https://arxiv.org/abs/2503.05652">paper</a> |
				<a href="https://behavior-robot-suite.github.io/">website</a> |
				<a href="https://behavior-robot-suite.github.io/docs/">documentation</a> |
				<a href="https://github.com/behavior-robot-suite/brs-ctrl">robot code</a> |
				<a href="https://github.com/behavior-robot-suite/brs-algo">algorithm code</a> 
				</div>
			</div><hr>