	<div class="row">
				<div class="col-md-3">
					<video class="img_responsive" style="border: 0px solid black; width: 100%; display: block; height: auto;" autoplay muted loop webkit-playsinline playsinline>
							<source src="videos/uad.mp4" type="video/mp4">
						</video>
					</div>
				<div class="col-md-9">
				<b><font color="black">UAD: Unsupervised Affordance Distillation for Generalization in Robotic Manipulation</font></b><br>
				<a href="https://tangyihe.com/" target="_blank">Yihe Tang</a>, 
				<a href="https://wenlong.page/" target="_blank">Wenlong Huang</a>,
				<a href="https://www.wykac.com/" target="_blank">Yingke Wang</a>,
				<a href="https://www.chengshuli.me/" target="_blank">Chengshu Li</a>,
				<a href="https://www.linkedin.com/in/ryuan19/" target="_blank">Roy Yuan</a>,
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>,
				<a href="https://jiajunwu.com/" target="_blank">Jiajun Wu</a>,
				<a href="https://profiles.stanford.edu/fei-fei-li/" target="_blank">Li Fei-Fei</a>
				<br>
				<b><a href="https://2025.ieee-icra.org/" target="_blank">International Conference on Robotics and Automation (ICRA) 2025</a></b>
				<br>
				<font color="firebrick"><b>Best Paper Award Finalist</b></font> 
				<br>
				<font color="firebrick"><b>Best Paper Award Finalist in Robot Perception</b></font> 
				<br>
				<a href="https://x.com/RuohanZhang76/status/1924489528007426119">tl;dr</a> |
				<a href="https://arxiv.org/abs/2506.09284">paper</a> |
				<a href="https://unsup-affordance.github.io/">website</a> |
				<a href="https://github.com/TangYihe/unsup-affordance">code</a>
				</div>
			</div><hr>