			<div class="row">
				<div class="col-md-3">
					<div class="video-container" style="overflow: hidden;">
						<img class="img-fluid img-rounded" src="images/2024-eai.png" style="margin-top: 0pt; border:0px solid black" alt="">
					</div>
					</div>
				<div class="col-md-9">
				<b><font color="black">Embodied Agent Interface: A Single Line to Evaluate LLMs for Embodied Decision Making</font></b><br>
				<a href="https://limanling.github.io/">Manling Li</a>*, 
				Shiyu Zhao*, 
				<a href="https://qinengwang-aiden.github.io/">Qineng Wang</a>*, 
				<a href="https://jameskrw.github.io/">Kangrui Wang</a>*, 
				<a href="https://bryanzhou008.github.io/">Yu Zhou</a>*, 
				<a href="https://www.linkedin.com/in/sanjana-srivastava5/" target="_blank">Sanjana Srivastava</a>, 
				<a href="https://www.cemgokmen.com/" target="_blank">Cem Gokmen</a>, 
				<a href="https://www.linkedin.com/in/tonyhlee/">Tony Lee</a>, 
				<a href="https://www.cs.columbia.edu/~lierranli/">Li Erran Li</a>, 
				<a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>,
				<a href="http://weiyuliu.com/" target="_blank">Weiyu Liu</a>, 
				<a href="https://cs.stanford.edu/~pliang/">Percy Liang</a>, 
				<a href="https://profiles.stanford.edu/fei-fei-li/" target="_blank">Li Fei-Fei</a>,
				<a href="https://jiayuanm.com/" target="_blank">Jiayuan Mao</a>, 
				<a href="https://jiajunwu.com/" target="_blank">Jiajun Wu</a>
				<br>
				<b><a href="https://neurips.cc/" target="_blank">NeurIPS Datasets and Benchmarks Track 2024</a></b>
				<br>
				<font color="firebrick"><b>Oral Presentation</b></font> 
				<br>
				<a href="https://twitter.com/RuohanZhang76/status/1855401520793264302">tl;dr</a> |
				<a href="https://arxiv.org/abs/2410.07166">paper</a> |
				<a href="https://embodied-agent-interface.github.io/">website</a> |
				<a href="https://github.com/embodied-agent-interface/embodied-agent-interface">code</a> 
				</div>
			</div><hr>