<div class="row">
		<div class="col-md-3">
			<div class="video-container" style="overflow: hidden;">
				<img class="img-fluid img-rounded" src="images/2026-tos.png" style="margin-top: 0pt; border:0px solid black" alt="">
			</div>
		</div>
		<div class="col-md-9">
		<b><font color="black">Theory of Space Can Foundation Models Construct Spatial Beliefs Through Active Exploration?</font></b><br>
		<a href="https://williamzhangsjtu.github.io/" target="_blank">Pingyue Zhang</a>,
		<a href="https://zihan-huang.github.io/" target="_blank">Zihan Huang</a>,
		<a href="#" target="_blank">Yue Wang</a>,
		<a href="https://jieyuz2.github.io/" target="_blank">Jieyu Zhang</a>,
		<a href="#" target="_blank">Letian Xue</a>,
		<a href="https://zihanwang314.github.io/" target="_blank">Zihan Wang</a>,
		<a href="https://qinengwang-aiden.github.io/" target="_blank">Qineng Wang</a>,
		<a href="https://keshik6.github.io/" target="_blank">Keshigeyan Chandrasegaran</a>,
		<a href="https://ruohanzhang.com/" target="_blank">Ruohan Zhang</a>,
		<a href="https://yejinc.github.io/" target="_blank">Yejin Choi</a>,
		<a href="https://www.ranjaykrishna.com/index.html" target="_blank">Ranjay Krishna</a>,
		<a href="https://jiajunwu.com/" target="_blank">Jiajun Wu</a>,
		<a href="https://profiles.stanford.edu/fei-fei-li" target="_blank">Li Fei-Fei</a>,
		<a href="https://limanling.github.io/" target="_blank">Manling Li</a>   
		<br>
		<b><a href="https://iclr.cc/" target="_blank"> International Conference on Learning Representations (ICLR) 2026</a></b>
		<br>
		<a href="https://x.com/ManlingLi_/status/2023452118070292766">tl;dr</a> |
		<a href="https://arxiv.org/abs/2602.07055">paper</a> |
		<a href="https://theory-of-space.github.io/">website</a> |
		<a href="https://github.com/mll-lab-nu/Theory-of-Space"><code></code></a>
		</div>
</div><hr>