	<div class="row">
				<div class="col-md-3">
					<video class="img_responsive" style="border: 0px solid black; width: 100%; display: block; height: auto;" autoplay muted loop webkit-playsinline playsinline>
							<source src="videos/uad.mp4" type="video/mp4">
						</video>
					</div>
				<div class="col-md-9">
				<b><font color="black">Dream2Flow: Bridging Video Generation and Open-World Manipulation with 3D Object Flow</font></b><br>
				<a href="https://kdharmarajan.com/" target="_blank">Karthik Dharmarajan</a>, 
				<a href="https://wenlong.page/" target="_blank">Wenlong Huang</a>,
				<a href="https://jiajunwu.com/" target="_blank">Jiajun Wu</a>,
				<a href="https://profiles.stanford.edu/fei-fei-li/" target="_blank">Li Fei-Fei</a>†,
                <a href="https://ai.stanford.edu/~zharu/" target="_blank"><u>Ruohan Zhang</u></a>†
				<br>
				<b><a href="" target="_blank">arxiv, 2026</a></b>
				<br>
				<a href="">tl;dr</a> |
				<a href="https://arxiv.org/abs/2512.24766">paper</a> |
				<a href="https://dream2flow.github.io/">website</a> |
				<a href="">code</a>
				</div>
			</div><hr>